APP_ENV=development
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me-local-only
DATABASE_NAME=edumanage
DATABASE_USER=edumanage
DATABASE_PASSWORD=edumanage_local_only
DATABASE_HOST=postgres
DATABASE_PORT=5432
REDIS_URL=redis://redis:6379/0
APP_TIME_ZONE=Asia/Phnom_Penh
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
